<template>
 <v-stepper-header
  >
            <v-img
              src="../assets/Header/Banner.png"
              max-height="800"
              max-width="auto"
            ></v-img>
      
        <div class="mt-12 ml-5">
        <h2>Mau belajar apa hari ini ?</h2>
        <p>Betul belajar aja , fokus masa depanmu</p>
        </div>
        <v-spacer></v-spacer>
        <div class="mt-5 mr-15">
        <v-card
        class="text-center rounded-xl d-inline-flex align-center justify-center ma-3"
          :elevation="5"
          height="80"
          width="80"
        >
      <v-img
              src="../assets/Header/Tryout 2.png"
              max-height="40"
              max-width="40"
              
            ></v-img>
        </v-card>

     </div>

        <div class="mt-5 mr-15">
        <v-card
        class="text-center rounded-xl d-inline-flex align-center justify-center ma-3"
          :elevation="5"
          height="80"
          width="80"
        >
      <v-img
              src="../assets/Header/Bimbel 1.png"
              max-height="40"
              max-width="40"
              
            ></v-img>
        </v-card>

     </div>

     <div class="mt-5 mr-15">
        <v-card
        class="text-center rounded-xl d-inline-flex align-center justify-center ma-3"
          :elevation="5"
          height="80"
          width="80"
        >
      <v-img
              src="../assets/Header/Event 1.png"
              max-height="40"
              max-width="40"
              
            ></v-img>
        </v-card>

     </div>
  
      <div class="mt-5 mr-5">
        <v-card
        class="text-center rounded-xl d-inline-flex align-center justify-center ma-3"
          :elevation="5"
          height="80"
          width="80"
        >
      <v-img
              src="../assets/Header/Course 1.png"
              max-height="40"
              max-width="40"
              
            ></v-img>
        </v-card>
        

     </div>
     

     
            
          
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->

 </v-stepper-header>
</template>

<script>
  export default {
    name: 'Header',
  }
</script>
