<template>
<v-row>
 <div class="mt-20 ml-5">
        <h2>Mau belajar apa hari ini ?</h2>
        <p>Betul belajar aja , fokus masa depanmu</p>
        </div>
    
</v-row>
</template>

<script>
  export default {
    name: 'Konten',
    
    }
</script>