<template>
<nav>
     <v-app-bar
      app
      color="white lighten"
    >
    
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="../assets/navbar/logobidikkampus.png"
          transition="scale-transition"
          width="150"
          height="50"
        />
        <div class="my-4">
        <v-btn transition="scale-transition"
        text large color="grey">Try Out</v-btn>
      </div>
      <div class="my-4">
        <v-btn transition="scale-transition"
        text large color="grey">Bimbel</v-btn>
      </div>
      <div class="my-4">
        <v-btn transition="scale-transition"
        text large color="grey">New Skill</v-btn>
      </div>
      <div class="my-4">
        <v-btn transition="scale-transition"
        text large color="grey">Event</v-btn>
      </div>

    </div>
          <v-spacer></v-spacer>

     <div class="my-4">
        <v-btn transition="scale-transition"
        text large color="deep-orange white--text">Masuk</v-btn>
      </div>
        <v-btn 
        transition="scale-transition"
        depressed color="deep-orange white--text">Daftar</v-btn>
      
     </v-app-bar>
  </nav>
</template>

<script>
  export default {
    name: 'navbar',
  }
</script>